body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

#messages {
  margin-top: 20px;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #333;
  padding: 10px;
}

